.about-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .menu-composant {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1023px;
        height: 47px;
        background-color: #FF6060;
        margin: 31px 0 0 0;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
    .about-description{
        color: black;
    }
    

    .arrow {
        width: auto;
        transition: 0.2s;
    }

    .close-arrow {
        width: auto;
        transform: rotate(180deg);
        transition: 0.2s;
    }

    .sub-menu-composant {
        width: 1023px;     
        overflow: hidden;
        height: auto;
        background-color: #F6F6F6;
        transition: 2s;

        .about-description{
            margin-left: 20px;
            transition: 0.6s;
            opacity: 1;
        }
    }

    .sub-menu-composant-closed {
        width: 1023px;
        height: 0;
        overflow: hidden;
        transition: 3s;
       
        .about-description{

            opacity: 0;
            transition: 0.4s;
            color: green;
            transform: translateY(-10px);
            font-weight: 400;
            margin-left: 20px;
        }
   

    }

    .responsability {
        margin-bottom: 201px;
    }

    .explain-1, .explain-2, .explain-3, .explain-4 {
        width: 1023px;
        height: 146px;
        background-color: #F6F6F6;
        color: #FF6060;
        display: flex;

        p {
            margin: 20px;
        }
    }
}
