* {
    font-family: "montserrat";
}

.banner {
    position: relative;
    margin-top: 63px;
    width: 1240px;
    height: 223px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 63px auto 0;
    border-radius: 26px;
    background-color: black;
    margin-bottom: 33px;

    h2 {
        position: absolute;
        color: white;
        font-size: 48px;
        z-index: 10;
    }

    .opacityBan {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.2;
        border-radius: 25px;
    }

    img {
        border-radius: 25px;
    }
}

.bannerwrapper {
    position: relative;
    width: 1240px;
    height: 403px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    border-radius: 1px;
    background-color: black;
    overflow: hidden;
    transition: 0.3s;

    .logement-ban {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .white-arrow-left {
        position: absolute;
        left: 0;
    }

    .white-arrow-right {
        position: absolute;
        right: 0;
        transform: rotate(180deg);
    }

    .image-number {
        position: absolute;
        bottom: 30px;
        font-size: 18px;
        color: white;
        font-weight: 400;
        transition: 1s;
    }
}

@media screen and (max-width: 414px) {
    .banner {
        width: 92%;
        height: 112px;
        margin-top: 0;

        h2 {
            width: 217px;
            font-size: 24px;
            margin-left: 0;
            margin-right: 102px;
        }

        img {
            border-radius: 25px;
            object-fit: cover;
            width: 100%;
            height: 100%;
           
        }

        .opacityBan {
            border-radius: 10px;
        }
    }

    .bannerwrapper {
        width: 90%;
        border-radius: 10px;
        height: 335px;

        .white-arrow-left, .white-arrow-right {
            width: 11.67px;
            height: 19.8px;
            margin: 10px;
        }
    }
}
