.error-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .error{
        display: flex;
        justify-content: center;
        color: #FF6060;
        font-size: 288px;
        font-weight: bold;
        margin: 0;
        margin-top: 74px;
        
        }
    .error-msg{
        display: flex;
        justify-content: center;
        margin-top: 0;
        color: #FF6060;

    }
    .back-to-link{
        display: flex;
        justify-content: center;
        margin-top: 0;
        color: #FF6060;
        font-weight: bold;
        margin: 100px 0 159px 0;

    }
        

}

@media screen and (max-width: 450px){
    .error-div{
        align-items: center;
        .error{
            font-size: 96px;
        }
        .error-msg{
            margin: 20px;
            font-size: 18px;
        }
    }
   
}
