.main-footer{
    background-color: black;
 
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
     img{
         width: 122px;
         height: 39px;
     }
}

@media screen and (max-width: 1241px) {
    .main-footer{
       width: 1240px;
       margin: 0 auto;
    }
}

@media screen and (max-width: 391px) {
.main-footer{
    margin: 0;
    width: 106%;
}
   }
   @media screen and (min-width: 392px) and (max-width: 414px) {
    .main-footer{
        width: 100%;
        margin: 0;
    }
       }