.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1240px;
    height: auto;
    background-color: #F6F6F6;
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 50px;
    border-radius: 25px;
    overflow-wrap: normal;

    .thumb {
        & :hover {
            transition: 0.3s;
            box-shadow: black 0px 3px 9px 0px;
        }
    }
}


@media screen and (max-width: 414px) {
 main{
     width: 390px;
     .gallery{
         width: 100%;
         margin-top: 0;
     }
 }
}