.main-wrapper{
  display: flex;
  justify-content: center;

  margin: 0 auto;
  flex-direction: column;

}
main{
  justify-content: center;
  width: 1240px;
  margin: 0 auto;
  align-items: center;
}


@media screen and (max-width: 391px) {
  .main-wrapper{
    width: 100%;
  }

     }
    